body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: url('images/header-background.jpg') no-repeat center center/cover;
    padding: 50px;
    text-align: center;
    color: rgb(37, 36, 36);
}

h1, h2, h3, p {
    margin-bottom: 15px;
}

.resume-button {
    display: inline-block;
    padding: 12px 25px;
    margin: 10px;
    background-color: #0056b3; /* A blue that stands out */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid transparent; /* Add border to define button */
    transition: all 0.3s ease;
}

.resume-button:hover {
    background-color: #003d82; /* Darker shade for hover effect */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Add shadow for depth */
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}
